#observations1,
#observations2,
#observations3,
#observations4 {
    font-size: 1.25em;
}

.code-box {
    border: 1px solid black;
    width: 1em;
    background-color: #93ccea;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.3em;
    font-weight: 300;
}

.code-word {
    padding-left: 1em;
    padding-right: 1em;
    display: inline-flex;
}

@media screen and (min-width: 400px) {
    .field {
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding-top: 1em;
        display: inline-flex;


    }
}

@media screen and (max-width: 400px) {
    .field {
        margin-left: 1em;
        margin-right: 1em;
        padding-top: 1em;
        display: inline-flex;
    }

}

#n1,
#m1,
#d1,
#r1,
#n2,
#m2,
#d2,
#r2,
#n3,
#k3,
#d3,
#r3,
#n4,
#k4,
#d4,
#r4 {
    width: 5.5em;
    padding: 0.5em 1em;
    border: groove;
    border-radius: 0.1em;
    background-color: #f1f1f1;
}